<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

       <!--
       <bean id="myInterceptor" class="com.springapp.annotation.MyInterceptor"/>
       <bean id="handlerMapping" class="org.springframework.web.servlet.config.annotation.InterceptorRegistry">
              <property name="registrations">
                     <list>
                            <ref bean="myInterceptor"/>
                     </list>
              </property>
       </bean>
       -->
       <!--静态资源-->
       <mvc:resources mapping="/css/**" location="/css/"/>
       <mvc:resources mapping="/js/**" location="/js/"/>
       <!--自定义拦截器-->
       <mvc:annotation-driven>
              <mvc:argument-resolvers>
                     <bean class="com.soar.common.myParamAnnotaionReslove.FirstArgumentResolver"/>
              </mvc:argument-resolvers>
              <mvc:return-value-handlers>
                     <bean class="com.soar.common.myReturnValue.FirstResultValueHander"/>
              </mvc:return-value-handlers>
       </mvc:annotation-driven>
       <mvc:interceptors>
              <bean class="com.soar.common.interceptor.MyInterceptor"/>
       </mvc:interceptors>


</beans>